<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <profileable android:shell="true"
            tools:targetApi="q" />

        <activity
            android:name="com.mcal.editor.presentation.EditorActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>