<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name="com.mcal.common.App"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="r">
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.3" />
        <activity
            android:name="com.mcal.apkeditor.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mcal.apkeditor.activities.AboutActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mcal.action.SHOW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcal.apkeditor.activities.ApkInfoActivity" />
        <activity
            android:name="com.mcal.apkeditor.activities.ApkInfoExActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.mcal.pngeditor.ViewZipImageActivity" />
        <activity
            android:name="com.mcal.apkeditor.activities.ApkComposeActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.mcal.apkeditor.activities.UserAppActivity" />
        <activity android:name="com.mcal.apkeditor.activities.SettingsActivity" />
        <activity
            android:name="com.mcal.apkeditor.activities.ManifestSearchResultActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.mcal.apkeditor.activities.ApkSearchActivity" />
        <activity android:name="com.mcal.apkeditor.activities.OdexPatchActivity" />
        <activity android:name="com.mcal.apkeditor.activities.ColorXmlActivity" />
        <activity android:name="com.mcal.apkeditor.prj.ProjectListActivity" />
        <activity android:name="com.mcal.apkeditor.ui.fulleditor.FullEditorActivity" />

        <activity android:name="com.mcal.pngeditor.PhotoViewerActivity" />

        <service android:name="com.mcal.apkeditor.ApkComposeService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Hack App Data -->
        <activity android:name="com.mcal.appdm.PrefOverallActivity" />
        <activity android:name="com.mcal.appdm.PrefDetailActivity" />

        <activity android:name="com.mcal.sqliteutil.SqliteTableListActivity" />
        <activity android:name="com.mcal.sqliteutil.SqliteTableViewActivity" />
        <activity android:name="com.mcal.sqliteutil.SqliteRowViewActivity" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
    </application>

</manifest>
